@use "../../variables" as *;

// 制作一覧ページ

.products {
  background-color: rgba($color: #fff, $alpha: 0.8);
  color: #3e3e3e;

  h2 {
    font-size: 2.4rem;

    &.center {
      border-bottom: #3e3e3e solid 2px;
      text-align: center;
      font-size: 3rem;
      padding-top: 96px;
    }
  }
  &__list {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    @include device-width-414px {
      padding: 0 8px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      .post {
        width: 24%;
        list-style: none;
        margin-right: 12px;
        margin-bottom: 40px;

        @include device-width-1140px {
          width: 33%;
          margin-right: auto;
        }
        @include device-width-800px {
          width: 49%;
        }
        @include device-width-414px {
          width: 100%;
        }
        &:nth-of-type(odd) {
          .thumbnail {
            border-color: $mainBlue;
          }
        }
        &:nth-of-type(4n) {
          margin-right: 0;

          @include device-width-1140px {
            margin-right: auto;
          }
        }

        a {
          color: $mainBlue;

          &:hover {
            opacity: 0.95;
          }
          h3 {
            font-size: 16px;
            text-align: center;
            margin: 12px 0;
            position: relative;

            @include device-width-414px {
              margin-top: 4px;
            }
            &::after {
              content: "\f35d";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          .thumbnail {
            display: block;
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            border: solid 3px $mainYellow;
            overflow: hidden;
            position: relative;

            &__img {
              display: block;
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: cover;

              &:hover {
                transform: scale(1.05);
                transition: all 0.3s ease-out;
              }
            }
            @include device-width-1140px {
              height: 260px;
            }
          }
        }
      }
    }
    .categories {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 1rem;
        margin: 0;
        width: fit-content;
        margin-right: 4px;
        padding: 2px 4px;
        background-color: $mainYellow;
        color: #fff;
      }
    }
  }
}
