/*--------------------------------------
  ruby.html　Rubyエンジニアへ転身コンテンツページ
  --------------------------------------*/
.ruby {
  background: rgba(51, 64, 198, 0.7);
}
#ruby img {
  max-width: 600px;
}
.ruby .book-list dl dd {
  padding-left: 4px;
}